.Aside {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  background-color: var(--white);
  padding-left: 50px;
}

.Aside__addElement {
  width: 100%;
  max-height: 250px;
}

.Aside__addElement:not(:last-child) {
  margin-bottom: 50px;
}

.Aside__addElement img {
  width: 100%;
}

/* iPad Mini width: 768px */
@media (max-width: 767px) {
  .Aside {
    width: 100%;
    max-width: none;
    padding: 52px 20px;
  }
}