.SitePresentation {
	background: url(../assets/home/Portada.jpeg);
	background-attachment: fixed;
	background-position: center;
}

.SitePresentation__background_color {
	background-color: rgba(2, 48, 71, 0.7);
	width: 100%;
	height: calc(100vh - 232px);
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.SitePresentation h1 {
	font-size: 8rem;
	font-weight: 400;
	text-shadow: 0px 5px 5px rgba(0,0,0,0.75);
}

.SitePresentation h2 {
	font-size: 4rem;
	font-weight: 400;
	text-shadow: 0px 5px 5px rgba(0,0,0,0.75);
}

/* iPad Mini width: 768px */
@media (max-width: 767px) {
	.SitePresentation h1 {
		font-size: 4rem;
	}

	.SitePresentation h2 {
		font-size: 2rem;
	}

	.SitePresentation__background_color {
		height: calc(100vh - 307px);
	}
}